<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hoverSlider</title>
	<link rel="stylesheet" type="text/css" href="../../css/base.min.css">
	<style type="text/css">
		body,html{width: 100%;height: 100%;}
		a{text-decoration: none;}
		#index, #index1{width: 500px;height: 500px;margin:100px;}
		#index img, #index1 img{width: 100%;height: 100%;object-fit: cover;}
	</style>
</head>
<body>
	<div id="index">
		<img src="images/3.jpeg">
	</div>
    <div id="index1">
        <img src="images/4.jpeg">
    </div>
    <script type="text/javascript" src="../main.js"></script>
    <script type="text/javascript" src="../../module/main.js"></script>
    <script type="text/javascript">
    	window.onload = function(){
            hoverSlider.in('index')
			hoverSlider.in('index1')
    	}

        define('test', ['../main'], function(m){
            console.log(m);
        })
    </script>
</body>